/* Licensed to the Chroma Control Contributors under one or more agreements. */
/* The Chroma Control Contributors licenses this file to you under the MIT license. */
/* See the LICENSE file in the project root for more information. */

.device-group[b-bgbg2bu0pa] {
    height: 46px;
    width: 100%;
    border-bottom: 1px solid var(--border-color-default);
}

    .device-group:hover[b-bgbg2bu0pa] {
        background-color: var(--background-color-tertiary-muted);
    }

    .device-group.active[b-bgbg2bu0pa] {
        background-color: var(--background-color-tertiary-emphasis);
    }

.device-group-content-wrapper[b-bgbg2bu0pa] {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: calc(var(--spacing) + var(--spacing-half));
    padding-left: var(--spacing);
}

.device-group-content[b-bgbg2bu0pa] {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-top: 4px;
    overflow: hidden;
}

.device-group-name[b-bgbg2bu0pa] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: var(--font-weight-semibold);
}

.device-group-details[b-bgbg2bu0pa] {
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--font-size-sm);
}
