/* Licensed to the Douglife (Doug Montgomery) under one or more agreements. */
/* The Douglife (Doug Montgomery) licenses this file to you under the MIT license. */
/* See the LICENSE file in the project root for more information. */

.device-view {
    min-width: 0;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    height: 100%;
    min-height: 0;
}

.device-view-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
    border-right: 1px solid var(--border-color-default);
    background: var(--background-color-tertiary);
    width: 250px;
}

.device-view-header {
    height: 30px;
    line-height: 30px;
    padding: 0 var(--spacing);
    text-align: center;
    border-bottom: 1px solid var(--border-color-default);
    background: var(--background-color-tertiary);
}

.device-count {
    color: var(--foreground-color-muted);
    font-size: var(--font-size-sm);
}

.device-view-list {
    overflow: hidden auto;
}

.device-settings-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.device-settings-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    max-height: 100%;
}

.device-summary {
    min-height: 48px;
    background: var(--background-color-tertiary);
    border-bottom: 1px solid var(--border-color-default);
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    padding: var(--spacing-half) var(--spacing);
}

.device-summary-copy {
    min-width: 0;
}

.device-summary-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.device-summary-details {
    color: var(--foreground-color-muted);
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-third);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
