/* Licensed to the Douglife (Doug Montgomery) under one or more agreements. */
/* The Douglife (Doug Montgomery) licenses this file to you under the MIT license. */
/* See the LICENSE file in the project root for more information. */

.blank-slate[b-fi1vbvknpp] {
    padding: var(--spacing-quad);
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.blank-slate-content[b-fi1vbvknpp] {
    width: 100%;
    max-width: 600px;
}

.blank-slate-header[b-fi1vbvknpp] {
    margin-bottom: var(--spacing-double);
}

    .blank-slate-header h1[b-fi1vbvknpp] {
        padding: 0;
        margin: 0;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-light);
    }

    .blank-slate-header p[b-fi1vbvknpp] {
        margin: 0;
    }

.blank-slate-action[b-fi1vbvknpp] {
    border-radius: 5px;
    background: var(--background-color-muted);
}

    .blank-slate-action:not(:last-child)[b-fi1vbvknpp] {
        margin-bottom: var(--spacing);
    }

.blank-slate-action-content[b-fi1vbvknpp] {
    padding: var(--spacing-double);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blank-slate-action-text[b-fi1vbvknpp] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

    .blank-slate-action-text:not(:last-child)[b-fi1vbvknpp] {
        margin-right: var(--spacing-double);
    }

    .blank-slate-action-text h2[b-fi1vbvknpp] {
        margin: 0;
        padding: 0;
        font-size: var(--font-size);
        font-weight: var(--font-weight-semibold);
    }

    .blank-slate-action-text p.description[b-fi1vbvknpp] {
        margin: 0;
        padding: 0;
        font-size: var(--font-size);
        margin-bottom: var(--spacing-half);
    }

    .blank-slate-action-text p.discoverability[b-fi1vbvknpp] {
        margin: 0;
        padding: 0;
        font-size: var(--font-size);
        color: var(--foreground-color-muted);
    }
