@* Licensed to the Douglife (Doug Montgomery) under one or more agreements. *@
@* The Douglife (Doug Montgomery) licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@page "/tutorials/welcome"

<TutorialScaffold
    Title="Welcome to"
    TitleExtended="Chroma RGB Connect"
    Description="Chroma RGB Connect is a seemless way to integrate 3rd party lighting devices into Razer Synapse through the power of OpenRGB.">
    <Buttons>
        <Button Style="Button.StyleType.Primary" @onclick="NavigateForward">CONTINUE</Button>
    </Buttons>
</TutorialScaffold>
