/* Licensed to the Douglife (Doug Montgomery) under one or more agreements. */
/* The Douglife (Doug Montgomery) licenses this file to you under the MIT license. */
/* See the LICENSE file in the project root for more information. */

.tutorial[b-4noiqrvgb4] {
    display: flex;
    flex-grow: 1;
    min-width: 0;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
}

.tutorial-container[b-4noiqrvgb4] {
    display: flex;
    align-items: center;
    padding: 40px;
}

.tutorial-body[b-4noiqrvgb4] {
    max-width: 500px;
    width: 100%;
}

.tutorial-section[b-4noiqrvgb4] {
    min-height: calc(100vh - 2 * 40px);
    display: flex;
    flex-direction: column;
}

.tutorial-content[b-4noiqrvgb4] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tutorial-title[b-4noiqrvgb4] {
    font-size: 42px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: var(--spacing);
}

.tutorial-title span[b-4noiqrvgb4] {
    display: inline-block;
}

.tutorial-description[b-4noiqrvgb4] {
    margin: var(--spacing) 0;
}

.tutorial-user-content[b-4noiqrvgb4] {
    display: flex;
    flex-direction: column;
    margin: var(--spacing-double);
}

.tutorial-user-buttons[b-4noiqrvgb4] {
    display: flex;
    flex-direction: row;
}

[b-4noiqrvgb4] .tutorial-user-buttons button {
    margin-right: var(--spacing);
}

    [b-4noiqrvgb4] .tutorial-user-buttons button:last-child {
        margin-right: 0;
    }
