@* Licensed to the Douglife (Doug Montgomery) under one or more agreements. *@
@* The Douglife (Doug Montgomery) licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@if (DialogService.Dialogs.Any())
{
    <div class="dialog-container">
        @foreach (var dialog in DialogService.Dialogs)
        {
            <div @key="dialog.Key" style="@(dialog.Value == DialogService.Dialogs.Last().Value ? "" : "display: none;")">
                @dialog.Value
            </div>
        }
    </div>
}
