@* Licensed to the Douglife (Doug Montgomery) under one or more agreements. *@
@* The Douglife (Doug Montgomery) licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

<div class="menu-bar-dropdown-item" role="menuitem" tabindex="-1" @attributes="AdditionalAttributes">
    <div class="menu-bar-dropdown-item-label">
        <span>@Label</span>
    </div>
    @if (Shortcut != null)
    {
        <div class="menu-bar-dropdown-item-shortcut">
            @Shortcut
        </div>
    }
</div>
