@* Licensed to the Douglife (Doug Montgomery) under one or more agreements. *@
@* The Douglife (Doug Montgomery) licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

<button class="tab-item @StateClass" role="tab" aria-selected="@AriaSelected" type="button" tabindex="@TabIndex" @onclick="OnSelect">
    <span>
        @if (Icon != Components.Icon.IconStyle.None)
        {
            <Icon Style="Icon" aria-hidden="true" tabindex="-1" />
        }
        @Label
    </span>
</button>
