/* Licensed to the Douglife (Doug Montgomery) under one or more agreements. */
/* The Douglife (Doug Montgomery) licenses this file to you under the MIT license. */
/* See the LICENSE file in the project root for more information. */

.window-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
}
